<%= link_to category_path(category.id), class: "flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 m-auto mt-4 md-4" do %>
  <img class="object-cover w-full h-96 aspect-square rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="<%= url_for(category.icon) || "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" %>" alt="<%= category.name %>">
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><%= category.name %></h3>
  </div>
<% end %>
