<div class="flex flex-col gap-4 items-center justify-center">
  <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><%= @category.name %></h1>
  <p>Find me in app/views/categories/show.html.erb</p>
</div>
<%= render partial: "shared/invoice", collection: @invoices.order(:id) %>
